.idea/
.settings/
bin/*
config/*
logs/*
src/rs/ac/bg/etf/pp1/lexical_analysis/output/*
src/rs/ac/bg/etf/pp1/syntax_analysis/output/*
src/rs/ac/bg/etf/pp1/code_generation/output/*
src/rs/ac/bg/etf/pp1/code_generation/input/*
.classpath
.project
MJCompiler.iml
MJProjekat.docx